{% extends 'base.html' %}

{% block title %}
Activity Form
{% endblock %}

{% block content %}

{% if session['user'] %}
<h2>Welcome, {{ session['user']['first_name'] }}</h2>

<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/spending">Spendings</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Profile 
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/logout">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
      {% if msg %}
      <div class="alert alert-danger">
                {{ msg }}
            </div>
      {% endif %}
      <form action = "{{ url_for('addrec') }}" method = "POST">
         <h3>Activity Information</h3>
         Activity<br>
         <select name = "activity">
            <option value="grocery">Grocery</option>
            <option value="entertainment">Entertainment</option>
            <option value="shopping">Shopping</option>
            <option value="gasandfuel">Gas and Fuel</option>
            <option value="traveling">Traveling</option>
            <option value="foodanddining">Food and Dining</option>
            <option value="billsandutilities">Bills and Utilities</option>
          </select></br>
         
         Expense<br>
         <input type="number" min="1" step="any" name = "expense" /><br>
         
         Date<br>
         <input type = "date" name = "created_at" /><br>

         Comment<br>
         <textarea name = "comment" ></textarea><br>
         <input type = "submit" value = "submit" /><br>
      </form>

      <h3><a href = "\">Go back to home page</a></h3>
      
{% else %}
<input type="button" class="btn btn-primary" onclick="location.href='/login';" value="Log In">
<input type="button" class="btn btn-secondary" onclick="location.href='/create_account';" value="Create an account">

{% endif %}

{% endblock %}