{% extends 'landing.html' %}

{% block title %}
Activity Form
{% endblock %}

{% block item %}
<br></br>
<div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-xl-20">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-10">
              <div class="card-body p-md-5 mx-md-6">
        {% if msg %}
      <div class="alert alert-danger">
                {{ msg }}
            </div>
      {% endif %}
      <form action = "{{ url_for('addrec') }}" method = "POST">
         <h3>Activity Information</h3>
         Activity<br>
         <select name = "activity">
            <option value="grocery">Grocery</option>
            <option value="entertainment">Entertainment</option>
            <option value="shopping">Shopping</option>
            <option value="gasandfuel">Gas and Fuel</option>
            <option value="traveling">Traveling</option>
            <option value="foodanddining">Food and Dining</option>
            <option value="billsandutilities">Bills and Utilities</option>
          </select></br>
         
         Expense<br>
         <input type="number" min="1" step="any" name = "expense" /><br>
         
         Date<br>
         <input type = "date" name = "created_at" /><br>

         Comment<br>
         <textarea name = "comment" ></textarea><br>
         <input type = "submit" value = "submit" /><br>
      </form>
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
</div>
{% endblock %}
