{% extends 'base.html' %}

{% block title %}
Create Account
{% endblock %}

{% block content %}
<form method="POST" action="/create_account">
            <div class="mb-3">
                <label for="firstname" class="form-label">First Name</label>
                <input type="text" class="form-control" name="first">
            </div>
            
            <div class="mb-3">
                <label for="lastname" class="form-label">Last Name</label>
                <input type="text" class="form-control" name="last">
            </div>

            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" name="username">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="passwd">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" name="confirm_pass">
            </div>

            {% if message %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
            {% endif %}

            <button type="submit" class="btn btn-primary">Create an account</button>
        </form>
{% endblock %}
