{% extends 'landing.html' %}

{% block title %}
Analysis
{% endblock %}

{% block item %}
<input type="button" class="btn btn-primary" onclick="location.href='/enternew';" value="Add More Trans.">
<style>
    ul.yes{height:200px; width:40%;}
    ul.yes{overflow:hidden; overflow-y:scroll;}


    ul.yes {
  list-style-type: none;
  padding: 0;
  border: 1px solid #ddd;
}

ul.yes li {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
}

ul.yes li:last-child {
  border-bottom: none
}

form {
  display: inline-block;
}


</style>

      <br></br>

      <ul class = "yes">
        {% for row in rows %}
     <li>{{row["activity"]}} | {{row["expense"]}} | {{row["created_at"]}} 
        <form action = "{{ url_for('delete_record', activity_id=row.expense_id) }}" method = "POST">
          <input type=submit name = 'delete' value="Delete">
      </form>
        <a href="edit_activity/{{row.expense_id}}" method = "POST" class="btn btn-default pull-right">Edit</a>
     </li>
        {% endfor %}
     </ul>
   
      <table border = 1>
         <thead>
            <td>ID</td>
            <td>Activity</td>
            <td>Expense</td>
            <td>Date</td>
            <td>Comment</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{row["expense_id"]}}</td>
               <td>{{row["activity"]}}</td>
               <td>{{row["expense"]}}</td>
               <td> {{row["created_at"]}}</td>
               <td>{{row['comment']}}</td>	
            </tr>
         {% endfor %}
      </table>



  <br></br>

      <canvas id="mylineChart" style="float:left;width:100%;max-width:500px"></canvas>
  
      <canvas id="mypieChart" style="float:right;width:100%;max-width:700px"></canvas>

      <br>
      Start:<input type="date" id ="start_date"> End:<input type="date" id = "end_date"> <button onclick="pieFilter()">Filter</button>
        </br>


 <p id="demo"></p>
  
<script>
var ctx1 = document.getElementById("mylineChart").getContext("2d");
var ctx2 = document.getElementById("mypieChart").getContext("2d");

var dateNew = {{dateNew|safe}};
//var data1 = {{data1|safe}};
var expenseInfo = {{expenseInfo|safe}};
var dff = {{expenseInfo|safe}};
var listExpense = {{listExpense|safe}};

var dfTimeSeriesExpense =  {{dfTimeSeriesExpense|safe}};


//var df_entertainment = {{df_entertainment|safe}};
//var df_gasandfuel = {{df_gasandfuel|safe}};
//var df_shopping = {{df_shopping|safe}};

//["2022-08-1", "2022-08-2", "2022-08-8", "2022-08-16", "2022-08-17", "2022-08-31"]
var data = {
        labels: dateNew,
        datasets: [
            {
                label: "My First dataset",
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: dfTimeSeriesExpense
            }
        ]
    };

var config = {
    data,
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }

};

var canvas = document.getElementById('mylineChart');

function pieFilter() {
    counter = 0;
    var newListDate = []
    var newListExpense = []
   // for i in listExpense:
   var start_date_input = document.getElementById("start_date").value;
    var end_date_input = document.getElementById("end_date").value;
   for (let i = 0; i < dateNew.length; i++) {
      if (dateNew[i] >= start_date_input && dateNew[i] <= end_date_input) {
        newListDate.push(dateNew[i]);
        newListExpense.push(dfTimeSeriesExpense[i])
      //  alert(newListExpense[i]);
       // alert(newListDate[i]);

// Then input a new data object, with form values as data
  data = {
        labels: newListDate,
        datasets: [
            {
                label: "My First dataset",
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: newListExpense
            }
        ]
    };
    var myLineChart = new Chart(ctx1).Line(data);
//alert(newListExpense);

}
//counter++
//myLineChart.id= "new";
//myLineChart.labels = "2022-09-01";
//myLineChart.update();
//console.log(myLineChart);
//myLineChart.config.data.labels = newListExpense'
//myLineChart.update();
//alert(newListExpense);
}
}

//console.log(myLineChart);
var myLineChart = new Chart(ctx1).Line(data);

 var pieData =[
            {
                label: "Bills & Utilities",
                color: "#46BFBD",
               highlight: "#5AD3D1",
                value: listExpense[0]
            },
            {
                label: "Entertainment",
                color: "#eb4034",
               highlight: "#FFC870",
                value: listExpense[1]
            },
            {
                label: "Food & Dining",
                color: "#34eb52",
               highlight: "#FFC870",
                value: listExpense[2]
            },
            {
                label: "Gass & Fuel",
                color: "#34ebb4",
               highlight: "#FFC870",
                value: listExpense[3]
            },
            {
                label: "Grocery",
                color: "#349beb",
               highlight: "#FFC870",
                value: listExpense[4]
            },
            {
                label: "Shopping",
                color: "#7434eb",
               highlight: "#FFC870",
                value: listExpense[5]
            },
            {
                label: "Traveling",
                color: "#cc34eb",
               highlight: "#FFC870",
                value: listExpense[6]
            }
        ];

    var option = {
        animation: true,
        animationSteps: 30,
        animationEasing: "linear",
        responsive: true,
    };
var myPieChart = new Chart(ctx2).Pie(pieData);


</script>

{% endblock %}
