{% extends 'base.html' %}

{% block title %}
Landing
{% endblock %}

{% block content %}
{% if session['user'] %}

<div class="container">
<div class="row">
<br></br>
</div>
<div class="row justify-content-end align-items-center">
<div class="col-4">
</div>
<div class="col-4">
<div class="text-center">
    <img src="{{ url_for('static', filename='/img/logo.png/') }}" width="400px">
</div>
</div>
<div class="col-4">
    <a class="btn rounded-pill btn-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ session['user']['first_name'] }}</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/logout">Logout</a></li>
          </ul>
</div>
</div>
<div class="row">
<br></br></div>
</div>


<nav class="navbar navbar-expand-sm navbar-light bg-light flex-sm-nowrap flex-wrap">
  <div class="container-fluid">
    <div class="navbar-collapse collapse flex-grow-1 justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/social">Social</a>
            {% block social %} {% endblock %}
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/expenses">Expenses</a>
            {% block item %} {% endblock %}
        </li>
      </ul>
    </div>
  </div>
</nav>

{% endif %}

<script>
$(document).ready(function() {
  $('a.active').removeClass('active').removeAttr('aria-current');
  $('a[href="' + location.pathname + '"]').addClass('active').attr('aria-current', 'page'); 
});
</script>
{% endblock %}
