{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}
        <form method="POST" action="/login">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" name="username">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-primary">login</button>
        </form>

        {% if message %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
        {% endif %}

        <h4>First time here?</h4>
        <input type="button" class="btn btn-secondary" onclick="location.href='/create_account';" value="Create an account">

{% endblock %}

