{% extends 'landing.html' %}

{% block social %}

{% if friends %}
    <table>
        <thead>
            <td>First Name</td>
            <td>Last Name</td>
        </thead>
    {% for friend in friends %}
        <tr>
            <td>{{friend['first_name']}}</td>
            <td>{{friend['last_name']}}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
<h4>Looks like you are lonely</h4>
<input type="button" class="btn btn-secondary" onclick="location.href='/addfriend';", value="Add Friend!">
{% endif %}

{% endblock %}
